@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend:wght@200;300;400;500;600;700;800;900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&family=Teko:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Nav Section */

nav {
    font-family: 'Lexend', sans-serif;
}

.bg-parcel-plus {
    background: #37C6F4;
    padding: 0;
    margin: 0 auto;
}

.navbar-brand {
    background-color: white;
    padding: 1rem;
    margin-top: 1rem ;
    margin-bottom: 1rem !important;
    font-weight: 600;
    /* display: flex; */
}


@media (max-width: 530px) {
    .navbar-logo-text {
        display: none;
    }

    .navbar-logo-text-small-screen {
        display: none;
    }

    .navbar-brand {
        padding: 10px;
    }
}

@media (max-width: 550px) {
    .navbar-brand img{
        margin-right: 0 !important;
    }
    .navbar-brand{
       border-radius: 20px;
    }
}

.nav-link {
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;
}

.nav-link:active {
    color: #3148C2;
}

/* Main Section */

.main {
    background-image: url(./assets/images/overlay-bg-img.webp);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding: 50px;
    margin-top: 90px;
}

@media (max-width: 450px) {
    .main {
        height: 105vh;
    }
}

@media (max-width: 991px) {
    .main {
        margin-top: 64px;
    }
}

.logo-text {
    color: white;
    font-size: 40px;
    font-weight: 700;
    width: 100%;
    text-align: center;
}

@media (min-width: 991px) and (max-width: 1200px) {
    .about-h2-thin {
        font-weight: 400;
        font-size: 40px !important;
    }
    
    .about-h2-bold {
        font-weight: 700;
        font-size: 60px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .about-h2-thin {
        font-weight: 400;
        font-size: 30px !important;
    }
    
    .about-h2-bold {
        font-weight: 700;
        font-size: 50px !important;
    }
}

@media (min-width: 500px) and (max-width: 768px) {
    .about-h2-thin {
        font-weight: 400;
        font-size: 20px !important;
    }
    
    .about-h2-bold {
        font-weight: 700;
        font-size: 40px !important;
    }
}

@media (min-width: 450px) and (max-width: 500px) {
    .logo-text {
        font-size: 30px;
    }
    .about-h2-thin {
        font-weight: 400;
        font-size: 20px !important;
    }
    
    .about-h2-bold {
        font-weight: 700;
        font-size: 35px !important;
    }
}

@media (min-width: 375px) and (max-width: 450px) {
    .logo-text {
        font-size: 24px;
    }
    .about-h2-thin {
        font-weight: 400;
        font-size: 25px !important;
    }
    
    .about-h2-bold {
        font-weight: 700;
        font-size: 35px !important;
    }
}
@media (max-width: 375px) {
    .logo-text {
        font-size: 20px;
    }
    .about-h2-thin {
        font-weight: 400;
        font-size: 20px !important;
    }
    
    .about-h2-bold {
        font-weight: 700;
        font-size: 30px !important;
    }

    .navbar-logo {
        max-width: 126px;
    }
}

.logo-div {
    font-size: 50px;
    font-weight: 700;
    width: 100%;
    padding: 40px 0;
}

.logo-bg {
    background: white;
    border-radius: 20px;
    padding: 15px;
}

@media (max-width: 400px) {
    .logo-bg {
        width: 90%;
    }
    .search {
        width: 100% !important;
    }
}


.main-bg-img {
    margin-top: 5%;
}


/* About Section */

.section-header {
    font-family: 'Teko', sans-serif; 
    font-style: normal;
    padding: 20px;
    font-weight: 500;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.about-main-text {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
}


.about-h2-thin {
    font-weight: 400;
    font-size: 40px;
}

.about-h2-bold {
    font-weight: 700;
    font-size: 80px;
}

/* Search */

.search-main-container {
    width: 50%;
}

@media (min-width: 435px) and (max-width: 991px) {
    .section-header {
        font-size: 40px;
    }

    .search-main-container {
        width: 90%;
    }
    .search-main-container input {
        padding: 10px 25px !important;
    }
    .search-main-container button {
        padding: 10px 25px !important;
    }
}

@media (max-width: 435px) {
    .section-header {
        font-size: 40px;
    }

    .search-main-container {
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .search-main-container input {
        padding: 10px 20px !important;
        font-size: 13px;
        width: 100%;
    }
    .search-main-container button {
        padding: 10px 20px !important;
        margin-top: 10px;
        font-size: 16px;
        font-weight: 600;
        width: 100%;
    }

    .about-main-text {
        font-size: 24px !important;
    }

    .about-desc-text {
        font-size: 16px !important;
    }
}



@media (max-width: 991px) {
    .about-main-text {
        font-size: 30px;
    }
    .about-h2-thin {
        font-weight: 400;
        font-size: 30px;
    }
    
    .about-h2-bold {
        font-weight: 700;
        font-size: 55px;
    }
    .about-us-img {
        width: 100% !important;
    }
}

.about-us-img {
    border: 15px solid #000000;
    width: 60%;
}

.section-sub-header {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}

.about-desc-text {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.tracking-section-box  {
    box-shadow: 5px 3px 5px -3px rgba(92,92,92,0.4), 0px 3px 10px rgba(92,92,92,0.6), -5px 3px 5px -3px rgba(92,92,92,0.4);
}

.tracking-sub-headers {
    color: #37C6F4;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
}

.address-sub-headers {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #3148C2;
}

/* Specials Section */


.container-left-specials {
    padding: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 3px 5px -3px rgba(92,92,92,0.4), 0px 3px 10px rgba(92,92,92,0.6), -5px 3px 5px -3px rgba(92,92,92,0.4);
}

.container-right-specials {
    padding: 3%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 3px 5px -3px rgba(92,92,92,0.4), 0px 3px 10px rgba(92,92,92,0.6), -5px 3px 5px -3px rgba(92,92,92,0.4);
}

.black-border {
    border: 10px solid #000000;
}

@media (max-width: 768px) {
    .black-border {
        border: 5px solid #000000;
    }
    .container-right-specials {
        width: 100%;
    }
}

/* Contact us */

.text-under-phone {
    font-size: larger;
}

.text-blue {
    color: #3148C2;
}

.container-right-contact {
    padding: 3%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 3px 5px -3px rgba(92,92,92,0.4), 0px 3px 10px rgba(92,92,92,0.6), -5px 3px 5px -3px rgba(92,92,92,0.4);
}

@media (max-width: 990px) {
    .container-right-contact {
        margin-top: 10%;
        width: 100%;
    }

    .container-right-specials {
        margin-top: 10%;
    }
}

.container-left-contact {
    padding: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 3px 5px -3px rgba(92,92,92,0.4), 0px 3px 10px rgba(92,92,92,0.6), -5px 3px 5px -3px rgba(92,92,92,0.4);
}

/* Footer */

.footer-bg {
    background: #2C2C2C;
}

.text-light-blue {
    color: #37C6F4;
}

/* Common css */

.page-margin-top {
    margin-top: 150px;
}
.page-margin-bottom {
    margin-bottom: 100px;
}

@media (max-width: 768px) {
    .page-margin-top {
        margin-top: 100px;
    }
}

/* Experimental */

.section-header {
    display: none;
}


.map-img {
    object-fit: cover;
    height: 300px;
}